<a href="https://colab.research.google.com/github/DaThabor/Mentoring/blob/master/TutorialFirstAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My First Analytics Notebook

# Session 1

## Setting Up the Environment

In [0]:
import pandas as pd

In [0]:
url1 = 'https://raw.githubusercontent.com/DaThabor/Mentoring/master/countries%20of%20the%20world.csv'
url2 = 'https://github.com/DaThabor/Mentoring/blob/master/time_series_covid19_confirmed_global.csv'
url3 = 'https://github.com/DaThabor/Mentoring/blob/master/time_series_covid19_deaths_global.csv'
url4 = 'https://github.com/DaThabor/Mentoring/blob/master/time_series_covid19_recovered_global.csv'
pic1 = 'https://github.com/DaThabor/Mentoring/blob/master/worldometer.png'
pic2 = 'https://github.com/DaThabor/Mentoring/blob/master/covid.jpg'

country = pd.read_csv(url1)
conf = pd.read_csv(url1)
death = pd.read_csv(url1)
recov = pd.read_csv(url1)

![picture 1](https://github.com/DaThabor/Mentoring/blob/master/covid.jpg)

In [10]:
country.head(10)

              Country                               Region  ...  Industry  Service
0        Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1            Albania   EASTERN EUROPE                       ...     0,188    0,579
2            Algeria   NORTHERN AFRICA                      ...       0,6    0,298
3     American Samoa   OCEANIA                              ...       NaN      NaN
4            Andorra   WESTERN EUROPE                       ...       NaN      NaN
5             Angola   SUB-SAHARAN AFRICA                   ...     0,658    0,246
6           Anguilla               LATIN AMER. & CARIB      ...      0,18     0,78
7  Antigua & Barbuda               LATIN AMER. & CARIB      ...      0,22    0,743
8          Argentina               LATIN AMER. & CARIB      ...     0,358    0,547
9            Armenia                  C.W. OF IND. STATES   ...     0,343    0,418

[10 rows x 20 columns]